/* Reset global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}
/* Navbar Principal */
.navbar-main {
    background-color: #0062cc;
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    z-index: 1000;
}

.navbar-main .navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-main .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-main .navbar-nav .nav-link:hover {
    color: #ffdd57;
}

.navbar-main .navbar-toggler-icon {
    filter: invert(1);
}

.navbar-main .navbar-collapse {
    justify-content: space-between;
}

.navbar-main .d-flex a {
    color: #ffffff;
    font-size: 1.4rem;
    margin-left: 15px;
    transition: color 0.3s;
}

.navbar-main .d-flex a:hover {
    color: #ffdd57;
}

/* Search Bar Styling */
.navbar-main .form-control {
    border-radius: 30px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.navbar-main .form-control:focus {
    border-color: #ffdd57;
}

.navbar-main .btn-outline-success {
    color: #ffffff;
    border-color: #ffdd57;
    transition: background-color 0.3s;
}

.navbar-main .btn-outline-success:hover {
    background-color: #ffdd57;
    color: #ffffff;
}


/* Navbar */
.navbar-ds {
    background-color: #1235ff;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    font-size: 20px;
    
}

.navbar-ds .project-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-ds .welcome-message {
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-style: italic;
    margin-left: auto;
}

.navbar-logo {
    height: 80px;
    width: auto;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .navbar .project-name {
        margin-bottom: 10px;
    }
    .navbar-logo {
        display: none;
    }
    .footer-logo {
        display: inline-block;
        text-align: center;
        margin-top: 15px;
    }
    .container-cards {
        flex-direction: column; /* Apilar las tarjetas verticalmente */
        align-items: center;
    }
    .card {
        width: 100%;
        max-width: 90%; /* Asegura que no ocupen todo el ancho */
    }
    
    
}

/* Main container */
.main-container {
    padding: 80px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Forms */
.formulario-producto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-producto input,
.formulario-producto textarea,
.formulario-producto select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.formulario-producto input:focus,
.formulario-producto textarea:focus,
.formulario-producto select:focus {
    border-color: #007bff;
    outline: none;
}

/* CRUD Buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-agregar {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-agregar:hover {
    background-color: #0056b3;
}

/* Product Table */
.tabla-productos table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-productos th,
.tabla-productos td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.tabla-productos th {
    background-color: #007bff;
    color: white;
}

/* Contenedor principal de las tarjetas (Flexbox) */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 20px;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}


.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px; /* Fijar un ancho máximo */
    min-height: 420px; /* Fijar una altura mínima */
    justify-content: space-between; /* Espaciado uniforme */
}


.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para el contenedor de la imagen */
.image_container {
    width: 100%;
    max-width: 280px;
    height: 200px; /* Ajusta la altura si es necesario */
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9; /* Fondo neutro para las imágenes que no cargan */
}


.image_container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo de la imagen */
.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    transition: transform 0.3s ease-in-out;
}

.image_container:hover .image {
    transform: scale(1.1); /* Efecto de zoom, limita el agrandamiento */
}

/* Título */
.title {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Estilos para las tallas */
.size {
    margin-top: 10px;
}

.size span {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.list-size {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.item-list {
    margin: 0;
}

/* Estilos para los botones de tallas */
.item-list-button {
    background-color: #e0bbf3;  /* Color violeta suave de fondo */
    border: 1px solid #ccc;
    padding: 6px 10px;  /* Reducir aún más el padding */
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 0.85em;  /* Reducir el tamaño de la fuente */
    width: 40px;  /* Hacer los botones un poco más pequeños */
    height: 40px;  /* Mantener la altura proporcional */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin: 0 5px;  /* Añadir espacio entre los botones */
}

.item-list-button:hover {
    background-color: #d3a9f5;  /* Color más oscuro de violeta para hover */
}


/* Estilo para la sección de precio y acción */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    flex-grow: 1;
}

/* Precio */
.price span {
    font-size: 1.3em;
    font-weight: bold;
    color: #27ae60;
}

/* Botón de carrito */
.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%;
}
.cart-button:hover {
    background-color: #0056b3;
}


.cart-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}



/* estilos del pop up de carrito sin sesion iniciada*/

/* Contenedor de mensajes */
.alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

/* Estilo para el mensaje de error */
.alert-danger {
    background-color: #f8d7da;  /* Rojo claro */
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 15px;
    font-size: 1.1em;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Botón de iniciar sesión */
.alert-danger .btn-primary {
    background-color: #007bff; /* Azul */
    border-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.alert-danger .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Estilos para el banner */
.banner {
    background-color: #ff4d4d;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.banner p {
    margin: 0;
}
#countdown {
    font-weight: bold;
    color: #ffd700;
}
.navbar-main {
    margin-top: 50px; /* Ajusta según el alto del banner */
}


/*Estilos del chackout*/


/* Navbar */
.navbar, .navbar-co {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0d5fdb; /* Ajusta el color de fondo si es necesario */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Main container (carrito-container or checkout-container) */
.carrito-container, .checkout-container {
    margin-top: 80px; /* Da espacio para que el navbar no se superponga */
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th, tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Total section styling */
.carrito-total, .checkout-total {
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

/* Payment buttons */
.btn-pagar, .payment-button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-pagar:hover, .payment-button:hover {
    background-color: #0056b3;
}

/* Flash messages */
.flashes {
    position: fixed;
    top: 60px; /* Debajo del navbar */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    z-index: 1100;
}


