<!-- carrito.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Tu carrito de compras</h2>

    {% if carrito %}
        <ul>
            {% for item in carrito %}
                <li>
                    {{ item.nombre }} - ${{ item.precio }} x {{ item.cantidad }} = ${{ item.precio * item.cantidad }}
                </li>
            {% endfor %}
        </ul>
        <h3>Total: ${{ total }}</h3>
    {% else %}
        <p>No hay productos en tu carrito.</p>
    {% endif %}
{% endblock %}

<hr>

<!-- Footer con el logo en móviles -->
<footer class="text-center mt-4">
    <div class="footer-logo">
        <img src="/static/img/almacenDeCalzsado-nobg.png" alt="Logo Footer" class="img-fluid" height="80" width="153">
    </div>
    <p>© 2024 Almacen de Calzado - Todos los derechos reservados</p>
</footer>