{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="checkout-container">
    <div class="checkout-box">
        <h2>Resumen del Carrito</h2>
        <table class="carrito-table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito %}
                <tr>
                    <td>{{ item['nombre'] }}</td>
                    <td>{{ item['descripcion'] }}</td>
                    <td>{{ item.get('modelo', 'Desconocido') }}</td> <!-- Modelo puede ser opcional -->
                    <td>${{ item['precio'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

        <div class="checkout-total">
            <span>Total: ${{ total }}</span>
        </div>

        <!-- Opciones de pago -->
        <div class="payment-options">
            <h3>Selecciona tu método de pago</h3>
            <form action="{{ url_for('/procesar_pago') }}" method="post">
                <button class="payment-button" type="submit" name="pago" value="mercado_pago">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Logo_Mercado_Pago.png" alt="Mercado Pago" class="payment-logo">
                    Pagar con Mercado Pago
                </button>
                <button class="payment-button" type="submit" name="pago" value="tarjeta">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Logo_de_Tarjeta_Credito.svg" alt="Tarjeta" class="payment-logo">
                    Pagar con Tarjeta
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
