{% extends "base.html" %}

{% block content %}
    <h1>Bienvenido a Almacen de Calzado</h1>
    <p>Encuentra los mejores productos aquí.</p>

    {% if temporada_productos %}
        <p>{{ temporada_productos|length }} productos de temporada disponibles.</p>
        <div id="carouselTemporada" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-inner">
                {% for producto in temporada_productos %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-4 text-center">
                                <div class="card">
                                    <!-- Acceder a los valores por las claves del diccionario -->
                                    <img src="{{ url_for('static', filename='img/' + producto['Imagen']|string) }}" class="card-img-top" alt="{{ producto['Nombre'] }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ producto['Nombre'] }}</h5>
                                        <p class="card-text">Precio: ${{ producto['Precio'] }}</p>
                                        <p class="card-text">{{ producto['Descripcion'] }}</p>

                                        <form action="{{ url_for('agregar_al_carrito', producto_id=producto['ID_Producto']) }}" method="post">
                                            <button type="submit" class="btn btn-primary">Comprar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTemporada" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTemporada" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% else %}
        <p>No hay productos de temporada disponibles en este momento.</p>
    {% endif %}

{% endblock %}
