{% extends "base.html" %}

{% block title %}
Inicio | Almacen de Calzado
{% endblock %}

{% block content %}
<h1>Calzados - N I Ñ O </h1>
<p>Encuentra los mejores productos aquí.</p>
<h1>Niño</h1>
{% endblock %}
{% block carrusel_productos %}
    {% for producto in productos %}
    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ producto['Imagen'] }}" class="card-img-top" alt="{{ producto['Nombre'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto['Nombre'] }}</h5>
                        <p class="card-text">{{ producto['Descripcion'] }}</p>
                        <p class="card-text"><strong>Precio:</strong> ${{ producto['Precio'] }}</p>
                        <form action="{{ url_for('agregar_al_carrito', producto_id=producto.ID_Producto) }}" method="post">
                            <button type="submit" class="btn btn-primary">Comprar</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
